@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap');

/*
--------
Colors 
#c8edce Mint 
#94E5A0 Lime
#689f70 Leaf
#2d4731 Moss
#132415 Olive
--------
Neutrals
#0C0C0C Space
#151515 Meteor
#1d1d1d Charcoal
#303030 Metal
#707070 Steel
#888888 Rock
#cacaca Ash
#eeeeee Dust
--------
*/

body {
    background-color: #ffffff;
    font-family: "Roboto", sans-serif;
    color:#1d1d1d;
    width: 400px;
    text-align:center;
    height:611px;
    min-height:611px;
    max-height:611px;
    display:flex;
    flex-direction:column;
    flex-wrap: nowrap;
    justify-content:center;
    align-content:space-between;
    padding: 0;
    margin: 0;
  }

  ::-webkit-scrollbar {
    width:10px;
    background-color:#cacaca;
  }
  ::-webkit-scrollbar-button {
    display:none;
  }
  ::-webkit-scrollbar-thumb {
    background-color:#689f70;
  }
  /*::-webkit-scrollbar-track {

  }
  ::-webkit-scrollbar-track-piece {
    
  }*/

  .settings-icon {
    font-size: 20px;
    position: absolute;
    top: 8px;
    left: 10px;
    text-decoration: none;
    color: #2d4731;
    cursor: pointer;
  }

  .settings-icon:hover {
    color: #689f70;
  }

  .telegram-icon {
    font-size: 21px;
    position: absolute;
    top: 8px;
    right: 10px;
    text-decoration: none;
    color: #2d4731;
    cursor: pointer;
  }

  .telegram-icon .tooltiptext {
    right:25px;
    left:unset;
  }
  
  .telegram-icon:hover {
    color: #689f70;
  }

  .close-icon {
    font-size: 26px;
    position: absolute;
    top: 4px;
    left: 12px;
    text-decoration: none;
    color: #2d4731;
    cursor: pointer;
    font-weight:bold;
  }
  
  .close-icon:hover {
    color: #689f70;
  }
  
  .tooltiptext {
    visibility: hidden;
    position:absolute;
    top:0;
    left:25px;
    background-color: #303030;
    color: #fff;
    font-size:12px;
    text-align: center;
    padding: 4px;
    border-radius: 4px;
    z-index: 1;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

  /*.nav-list-item.tooltip .tooltiptext {
    top:555px;
    left:0;
    height:10px;
    width:100%;
    padding:0;
    background-color:transparent;
    color:#151515;
  }*/

  p, ul, li {
    width: 100%;
  }

  a {
    color:#689f70;
  }

  .banner {
    width: 100%;
    border-radius: 4px;
    margin-bottom:10px;
  }

  .banner:hover {
    filter: brightness(130%);
  }

  .updates {
    background-color:#cacaca;
    display:flex;
    flex-flow: column nowrap;
    overflow-y:scroll;
    padding:15px 15px 5px 15px;
    width:100%;
    height:132px;
    flex-grow:1;
  }

  .updates-title {
    margin-bottom:0;
    padding:10px;
  }

  .updates p, .updates ul, .updates ul li {
    width:auto;
  }

  .updates ul {
    font-size:14px;
    padding-bottom:8px;
  }

  .header {
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;
    align-content:center;
    flex-grow:0;
    padding: 15px;
    background-color: #eeeeee;
  }

  .header p {
    width:100%;
    margin-top:0;
  }

  .content {
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;
    align-content:center;
    flex-grow:1;
    padding: 20px;
  }

  .content-explorers {
    align-content:space-between;
  }

  .footer {
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;
    align-content:center;
    flex-grow:0;
    padding: 4px;
    background-color: #eeeeee;
  }

  #logo {
    width:40px;
    height:40px;
    margin:0 auto;
  }
  
  h1 {
    font-family: "Teko", sans-serif;
    font-size: 30px;
    margin-bottom: 0;
    margin-top:0;
    width:100%;
    color:#1d1d1d;
  }

  button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #94E5A0;
    border-radius: 4px;
    padding: 10px;
    text-decoration: none;
    color: #151515;
    font-size: 16px;
    font-weight: bold;
    cursor:pointer;
    border-width:0;
  }

  button#add-wallet {
    width:20%;
    flex-grow:1;
    font-size:14px;
  }

  #add-wallet-form {
    display:flex;
    flex-flow:row wrap;
    gap:4px;
    margin-bottom:20px;
  }

  input#wallet-label {
    width:20%;
    flex-grow:1;
  }

  input#wallet-address {
    width:40%;
    flex-grow:1;
  }

  button.edit-delete {
    padding:4px;
    font-size:12px;
    min-width:40px;
    max-height:20px;
  }

  .tokens-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    flex-grow: 1;
    justify-content: center;
  }
  
  .flex-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-grow: 1;
    width:100%;
  }
  
  .flex-list .list-item {
    background-color: #c8edce;
    padding: 10px;
    border-radius: 4px;
    text-align: center;
    color: #1d1d1d;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .flex-list .list-item:hover {
    background-color: #c8edce;
    cursor: default;
  }
  
  .flex-list .list-item div {
    margin-bottom: 5px;
  }
  
  .flex-list .list-item div:last-child {
    margin-bottom: 0;
  }

  .settings-content {
    align-items: flex-start;
    align-content: flex-start;
  }

  .wallets-content {
    align-items: flex-start;
    align-content: flex-start;
  }

  #wallet-list {
    width:100%;
    max-height:310px;
    min-height:310px;
    overflow-y:scroll;
    padding:8px 8px 0 8px;
    background-color:#151515
  }

  .wallet-item {
    display:flex;
    flex-flow:row wrap;
    width:100%;
    font-size:16px;
    align-items:center;
    text-align: left;
    margin-bottom:8px;
    gap:4px;
  }

  .wallet-label {
    width:20%;
    flex-grow:1;
  }

  .wallet-address {
    width:20%;
    flex-grow:1;
  }

  .copy-checkmark {
    display: none;
    color: green;
    margin-left: 10px;
    font-size: 16px;
  }  

  #nav-container {
    width:100%;
    display:flex;
    flex-direction:column;
    align-items:center;
  }

  .flex-nav-list {
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    width:100%;
    gap:4px;
  }

  .nav-list-item {
    display:flex;
    flex-direction:column;
    flex-grow:1;
    width:10%;
    justify-content: center;
    align-content: center;
    background-color: #689f70;
    border-radius: 0;
    padding: 5px;
    text-decoration: none;
    height:20px;
    color:#151515;
    font-weight:bold;
    text-transform: none;
    font-size:16px;
  }

  .nav-list-item:hover {
    background-color: #94E5A0;
  }

  .nav-list-item.current-page {
    background-color: #ffffff;
    cursor:unset;
  }

  .description {
    text-align:left;
    font-size:16px;
    align-items: flex-start;
    align-content: flex-start;
  }

  .description p, .description ul {
    margin-top:0;
  }

  .description ul {
    padding-left:20px;
    margin-bottom:0;
  }
  .description ul li {
    padding-bottom:10px;
  }

  .description-locked {
    text-align:center;
    font-size:16px;
    align-items: center;
    align-content: center;
  }

  .home {
    text-align:left;
    font-size:16px;
    align-content: start;
  }
  
  .flex-container {
    display: flex;
    width:100%;
    flex-direction:row;
    margin-bottom: 10px;
    gap:5px;
  }
  
  input, #default-page-select {
    width: 55%;
    padding: 5px 10px;
    flex-grow: 1;
  }

  input, #default-page-select {
    background-color: #cacaca;
    color:#1d1d1d;
    border: 1px solid #cacaca;
    outline:0;
    border-radius:4px;
    height:30px;
  }

  input:focus, #default-page-select:focus {
    border: 1px solid #94E5A0;
    outline:0;
  }

  #page-default-form, #dark-mode-form {
    display: flex;
    width:100%;
    flex-flow: row wrap;
    gap: 4px;
    margin-bottom: 20px;
    flex-grow: 1;
    align-items:center;
    align-content:center;
  }

  #dark-mode-checkbox {
    flex-grow:0;
    width:30px;
  }

  .settings-content label {
    width:25%;
    text-align:left;
  }

  #default-page-select {
    flex-grow:1;
    height:42px;
  }
  
  .grid-list {
    display: grid;
    width:100%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    margin-bottom:auto;
    flex-grow:1;
  }
  
  .list-item {
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #c8edce;
    border-radius: 4px;
    padding: 10px;
    text-decoration: none;
    height:40px;
    color:#1d1d1d;
  }
  
  .list-item:hover {
    background-color: #94E5A0;
    color:#1d1d1d;
    cursor:pointer;
  }

  #current-url {
    margin-bottom:10px;
  }

  #count {
    font-size:16px;
  }

  #scan-button, #clear-button {
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #94E5A0;
    border-radius: 4px;
    padding: 10px;
    text-decoration: none;
    color:#151515;
    font-size:16px;
    flex-grow:1;
    width:100%;
    font-weight:bold;
    margin-bottom:10px;
  }

  button:hover, #scan-button:hover, #clear-button:hover, #add-wallet:hover {
    background-color: #c8edce;
    cursor:pointer;
  }

  .highlight {
    background-color: yellow;
    font-weight: bold;
  }
  
  .blockchain-logo {
    width: 20px;
    height: 20px;
    margin-bottom: 5px;
  }
  
  .pagination-controls {
    display: flex;
    padding:5px;
    background-color:#cacaca;
    border: 1px solid #cacaca;
    border-radius:4px;
    justify-content: center;
    align-items: end;
    margin-top: 10px;
    width:100%;
  }
  
  #pagination-buttons {
    display: flex;
    width: 80%;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
  }
  
  #pagination button {
    margin: 2px;
    padding: 8px;
    background-color: #eeeeee;
    color:#151515;
    font-family: "Roboto", sans-serif;
    font-size:14px;
    border-style:none;
    border-radius:2px;
    line-height:10px;
    font-weight:bold;
  }

  #pagination button:hover {
    background-color:#888888;
    cursor:pointer;
  }
  
  #pagination .active, #pagination .active:hover {
    color:#111111;
    background-color:#888888;
    cursor:default;
  }

  #loading {
    margin-top:20px;
    margin-bottom:20px;
    width:100%;
  }

  #tg {
    width:24px;
    height:20px;
    margin-top:0;
  }
  
  .result-item {
    background-color: #1d1d1d;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
  }
  
  .result-item p {
    margin: 5px 0;
  }
  
  .result-item a {
    color: #76d484;
  }

  .info-box {
    display:flex;
    flex-direction:column;
    flex-grow:1;
    text-align:center;
    font-size:14px;
    margin-top:10px;
  }
  
  .alert-message {
    color: red;
    font-size: 12px;
    width:100%;
  }
  
/* DARK MODE */
body.dark-mode {
  background-color: #303030;
  color: #ffffff;
}

body.dark-mode .updates {
  background-color:#151515;
}

body.dark-mode ::-webkit-scrollbar {
  width:10px;
  background-color:#151515;
}
body.dark-mode ::-webkit-scrollbar-button {
  display:none;
}
body.dark-mode ::-webkit-scrollbar-thumb {
  background-color:#2d4731;
}

body.dark-mode .header, 
body.dark-mode .footer {
  background-color: #1d1d1d;
}

body.dark-mode input, 
body.dark-mode #default-page-select {
  background-color: #151515;
  color: #ffffff;
  border: 1px solid #151515;
}

body.dark-mode input:focus, body.dark-mode #default-page-select:focus {
  border: 1px solid #94E5A0;
  outline:0;
}

body.dark-mode button:hover, body.dark-mode #scan-button:hover, body.dark-mode #clear-button:hover, body.dark-mode #add-wallet:hover {
  background-color: #689f70;
}

body.dark-mode .settings-icon, body.dark-mode .telegram-icon {
  color: #94E5A0;
}

body.dark-mode .settings-icon:hover, body.dark-mode .telegram-icon:hover {
  color: #c8edce;
}

body.dark-mode h1 {
  color:#ffffff;
}

body.dark-mode .pagination-controls {
  background-color:#0C0C0C;
  border: 1px solid #0C0C0C;
}

body.dark-mode .list-item {
  background-color: #132415;
  color:#ffffff;
}

body.dark-mode .list-item:hover {
  background-color: #37523c;
}

body.dark-mode .flex-list .list-item:hover {
  background-color: #132415;
}

body.dark-mode .nav-list-item {
  background-color: #2d4731;
  color:#c8edce;
}

body.dark-mode .nav-list-item:hover {
  background-color: #689f70;
}

body.dark-mode .nav-list-item.current-page {
  background-color:#303030;
  cursor:unset;
}

