@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap');

/*
--------
Colors 
#c8edce Mint 
#94E5A0 Lime
#689f70 Leaf
#2d4731 Moss
#132415 Olive
--------
Neutrals
#0C0C0C Space
#151515 Meteor
#1d1d1d Charcoal
#232323 Mud
#303030 Metal
#707070 Steel
#888888 Rock
#cacaca Ash
#eeeeee Dust
--------
*/

/***GLOBAL***/

body {
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  color:#1d1d1d;
  width: 400px;
  text-align:center;
  height:600px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;
  padding: 0;
  margin: 0;
  cursor:default;
}

body.panel-open {
  width: 100%; /* Example style to demonstrate panel open */
  height: 100vh;
  overflow: hidden;
}

::-webkit-scrollbar {
  width:10px;
  background-color:#cacaca;
}

::-webkit-scrollbar-button {
  display:none;
}

::-webkit-scrollbar-thumb {
  background-color:#689f70;
}

.settings-icon {
  font-size: 20px;
  position: absolute;
  top: 8px;
  left: 10px;
  text-decoration: none;
  color: #2d4731;
  cursor: pointer;
}

.settings-icon:hover {
  color: #689f70;
}

.telegram-icon {
  font-size: 21px;
  position: absolute;
  top: 8px;
  right: 10px;
  text-decoration: none;
  color: #2d4731;
  cursor: pointer;
}

.telegram-icon .tooltiptext {
  right:25px;
  left:unset;
}

.telegram-icon:hover {
  color: #689f70;
}

.info-icon {
  margin-bottom:10px;
  text-decoration: none;
  color:#2d4731;
  cursor: pointer;
  font-size: 21px;
  border-radius:4px;
  font-weight:bold;
}

.info-icon:hover {
  color:#689f70;
}

.info-icon .tooltiptext {
  left:8px;
  top:80px;
  box-sizing:border-box;
  width:384px;
  padding:15px 20px 5px 20px;
  text-align:left;
  font-size:14px;
  text-wrap:wrap;
  font-weight:normal;
}

.tooltiptext {
  visibility: hidden;
  position:absolute;
  top:0;
  left:25px;
  background:#ccd7f1;
  color: #1d1d1d;
  font-size:12px;
  text-align: center;
  font-weight:bold;
  padding: 4px;
  border-radius: 4px;
  z-index: 1;
  text-wrap: nowrap;
  box-shadow: 0 0 4px #222222;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

#setup-link-container {
  display: flex;
  flex-basis: auto;
  align-self: auto;
  order: 0;
  padding: 10px 10px 0 10px;
}

#setup-link {
  width:100%;
  background:#94E5A0;
  color:#2d4731;
  padding:10px;
  font-weight:bold;
  font-size:12px;
  text-transform:uppercase;
  text-decoration: none;
  border-radius:4px;
}

#setup-link:hover {
  background:#c8edce;
}

p, ul, li {
  width: 100%;
}

a {
  color:#689f70;
}

#logo {
  width:40px;
  height:40px;
  margin:0 auto;
}

h1 {
  font-family: "Teko", sans-serif;
  font-size: 30px;
  margin:0;
  width:100%;
  color:#1d1d1d;
}

h2 {
  font-size: 24px;
  width:100%;
  margin:0;
}

h3 {
  font-size: 16px;
  width:100%;
  margin:0 0 10px 0;
}

h4 {
  font-size: 12px;
  width:100%;
  margin:0;
}

.header h1 {
  height:40px;
}

.header h2 {
  height:35px;
}

button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #94E5A0;
  border-radius: 4px;
  padding: 10px;
  text-decoration: none;
  color: #151515;
  font-size: 16px;
  font-weight: bold;
  cursor:pointer;
  border-width:0;
}

button:hover {
  background-color: #c8edce;
  cursor:pointer;
}

input,
select {
  background-color: #cacaca;
  color:#1d1d1d;
  border: 1px solid #cacaca;
  outline:0;
  border-radius:4px;
  height:30px;
  width: 100%;
  padding: 5px 10px;
  flex-grow: 1;
}

select {
  height:42px;
}

input:focus,
select:focus {
  border: 1px solid #94E5A0;
  outline:0;
}

input[type="checkbox"] {
  flex-grow:0;
  width:30px;
}

.info-box {
  display:flex;
  flex-direction:column;
  flex-grow:1;
  text-align:center;
  font-size:14px;
  margin-top:10px;
}

#alert-box {
  position:absolute;
  width:100%;
  top:175px;
  left:0;
}

.alert-message {
  padding: 0;
  font-size: 12px;
  text-align: center;
}

.alert-positive {
  color: #00ab33;
}

.alert-negative {
  color: #ff0000;
}

.scan-alert {
  color: #ff0000;
  font-size:18px;
}

#loading,
#lst-loading {
  margin-top:20px;
  margin-bottom:20px;
  width:100%;
  text-align:center;
}

/*HEADER*/

.header {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
  padding: 10px 10px 20px 10px;
  background-color: #eeeeee;
}

/*CONTENT*/

.content {
  display:flex;
  flex-direction:row;
  flex-wrap: wrap;
  justify-content: center;
  align-items:flex-start;
  align-content:flex-start;
  flex-grow:1;
  padding: 10px;
  overflow-y: auto;
}

/*FOOTER*/

.footer {
  display:block;
  flex-direction:row;
  flex-wrap: wrap;
  justify-content: center;
  align-items:center;
  align-content:center;
  flex-grow:0;
  padding: 4px;
  background-color: #ffffff;
}

#nav-container {
  width:100%;
  display:flex;
  flex-direction:column;
  align-items:center;
}

.flex-nav-list {
  display:flex;
  flex-direction:row;
  justify-content: center;
  align-items: center;
  width:100%;
  gap:4px;
}

.nav-list-item,
.tab-list-item {
  display:flex;
  flex-direction:column;
  flex-grow:1;
  width:10%;
  justify-content: center;
  align-content: center;
  background-color: #689f70;
  border-radius: 0;
  padding: 5px;
  text-decoration: none;
  height:20px;
  color:#151515;
  font-weight:bold;
  text-transform: none;
  font-size:16px;
}

.nav-list-item:hover {
  background-color: #94E5A0;
}

.nav-list-item.current-page {
  background-color: #ffffff;
  cursor:unset;
}

/***SETTINGS***/

.settings-content {
  align-items: flex-start;
  align-content: flex-start;
}

.settings-select {
  width: 100%;
}

.forms {
  display: flex;
  width:100%;
  flex-flow: row wrap;
  gap: 4px;
  margin-bottom: 10px;
  flex-grow: 1;
  align-items:center;
  align-content:center;
}

.settings-content label {
  width:25%;
  text-align:left;
}

.settings-content .set-it {
  width:70%;
  text-align:left;
  flex-grow:1;
}

/***DASHBOARD***/

.ads {
  display: block;
  flex-grow: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
  padding: 10px 10px 0 10px;
}

.banner {
  width: 100%;
  border-radius: 4px;
  margin-bottom:10px;
}

.banner:hover {
  filter: brightness(130%);
}

.updates {
  background-color:#cacaca;
  margin:0 10px 10px 10px;
  text-align:left;
  font-size:14px;
}

.updates p {
  margin:0;
}

.updates ul {
  list-style-type: square;
  margin:8px 0;
  padding-left:20px;
}

/***SCANNER***/

.content-scanner {
  align-items:center;
  align-content:center;
  margin:10px;
  background:#cacaca;
}

#current-url {
  width:100%;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  display: -webkit-box;
  margin-bottom:0;
}

.or-text {
  width: 100%;
  margin-top: 10px;
}

.scan-control {
  display: flex;
  flex-direction:row;
  flex-wrap:wrap;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  justify-content:center;
  order: 0;
  padding: 10px;
}

.scanner-button {
  background-color: #94E5A0;
  border-radius: 4px;
  padding: 10px;
  color:#151515;
  font-size:16px;
  font-weight:bold;
  margin:10px 0 -10px 0;
}

.scanner-button:hover {
  background-color: #c8edce;
  cursor:pointer;
}

#count {
  font-size:20px;
  height:auto;
  font-weight:bold;
}

.highlight {
  background-color: yellow;
  font-weight: bold;
}

/***EXPLORERS***/

.explore-head,
.explore-foot {
  display: flex;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
  padding: 10px;
}

.content-explore {
  padding:0 10px 0 10px;
}

.grid-list {
  display: grid;
  width:100%;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  flex-grow:1;
}

.list-item {
  display:flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #c8edce;
  border-radius: 4px;
  padding: 10px;
  text-decoration: none;
  height:46px;
  color:#1d1d1d;
}

.list-item:hover {
  background-color: #94E5A0;
  color:#1d1d1d;
  cursor:pointer;
}

.pagination-controls {
  display: flex;
  padding:5px;
  background-color:#cacaca;
  border: 1px solid #cacaca;
  border-radius:4px;
  justify-content: center;
  align-items: end;
  width:100%;
}

#pagination-buttons {
  display: flex;
  width: 80%;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

#pagination button {
  margin: 2px;
  padding: 8px;
  background-color: #eeeeee;
  color:#151515;
  font-family: "Roboto", sans-serif;
  font-size:14px;
  border-style:none;
  border-radius:2px;
  line-height:10px;
  font-weight:bold;
}

#pagination button:hover {
  background-color:#888888;
  cursor:pointer;
}

#pagination .active, #pagination .active:hover {
  color:#111111;
  background-color:#888888;
  cursor:default;
}

.blockchain-logo {
  width: 20px;
  height: 20px;
  margin-bottom: 5px;
}

/***WALLETS***/

.wallets-head {
  display: flex;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
  padding: 10px 10px 0 10px;
}

button#add-wallet {
  width:20px;
  flex-grow:1;
  font-size:14px;
}

#add-wallet:hover {
  background-color: #c8edce;
  cursor:pointer;
}

#add-wallet-form {
  display:flex;
  flex-flow:row wrap;
  gap:4px;
  margin-bottom:30px;
}

input#wallet-label {
  width:20%;
  flex-grow:1;
}

input#wallet-address {
  width:40%;
  flex-grow:1;
}

button.edit-delete {
  padding:4px;
  font-size:12px;
  min-width:20px;
  max-height:20px;
}

.import-export-group {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 6px;
  column-gap: 4px;
}

button.import-export {
  padding:5px;
  font-size:12px;
}

.wallets-search {
  display: flex;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
  padding: 0 10px 10px 10px;
}

.my-wallets {
  background-color:#cacaca;
  margin:0 10px 10px 10px;
  text-align:left;
  font-size:14px;
  overflow-y: scroll;
  padding: 8px 8px 0 8px;
  background-color: #cacaca;
  color:#151515;
  flex-grow: 1;
}

.wallet-item {
  display:flex;
  flex-flow:row wrap;
  width:100%;
  font-size:14px;
  align-items:center;
  text-align: left;
  margin-bottom:8px;
  gap:4px;
}

.wallet-label {
  width:30%;
  flex-grow:1;
  cursor:grab;
}

.wallet-address {
  width:10%;
  flex-grow:1;
  cursor:grab;
}

.copy-checkmark {
  display: none;
  color: green;
  margin-left: 10px;
  font-size: 16px;
}

/***TOKENS***/

.tokens-content {
  background-color:#cacaca;
  margin:0 10px 10px 10px;
  text-align:left;
  font-size:14px;
  overflow-y: scroll;
  padding: 8px 8px 0 8px;
  background-color: #cacaca;
  color:#151515;
  flex-grow: 1;
}

.flex-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-grow: 1;
  width:100%;
}

.flex-list .list-item {
  background-color: #c8edce;
  padding: 20px 10px;
  border-radius: 4px;
  text-align: center;
  color: #1d1d1d;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-list .list-item:hover {
  background-color: #c8edce;
  cursor: default;
}

.flex-list .list-item div {
  margin-bottom: 5px;
}

.flex-list .list-item div:last-child {
  margin-bottom: 0;
}

.tabs {
  display: flex;
  flex-direction:row;
  flex-wrap:wrap;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  justify-content:center;
  order: 0;
  padding: 10px;
  gap:4px;
}

.tabcontent {
  display: none;
  padding: 10px;
}

.tokens-content ul {
  list-style:none;
}

.token-logo {
  width: 30px;
  height: 30px;
  margin-bottom: 8px;
  border-radius: 50%;
}

.token-address {
  font-size:12px;
}

.tablink {
  padding:5px 10px 4px 10px;
}

.tablink.active,
.tablink.active:hover {
  background-color: #ffffff;
  cursor: default;
  color: #1d1d1d;
}

.tablink.active:disabled {
  cursor: not-allowed;
}

/***PAY***/

.description {
  text-align:left;
  font-size:16px;
  align-items: flex-start;
  align-content: flex-start;
}

.description p, .description ul {
  margin-top:0;
}

.description ul {
  padding-left:20px;
  margin-bottom:0;
}
.description ul li {
  padding-bottom:10px;
}

.description-locked {
  text-align:center;
  font-size:16px;
  align-items: center;
  align-content: center;
}

.home {
  text-align:left;
  font-size:16px;
  align-content: start;
}
 
/***DARK MODE***/

body.dark-mode {
  background-color: #303030;
  color: #ffffff;
}

body.dark-mode .updates {
  background-color:#151515;
}

body.dark-mode ::-webkit-scrollbar {
  width:10px;
  background-color:#151515;
}
body.dark-mode ::-webkit-scrollbar-button {
  display:none;
}
body.dark-mode ::-webkit-scrollbar-thumb {
  background-color:#2d4731;
}

body.dark-mode .header {
  background-color:#232323;
}

body.dark-mode .footer {
  background-color:#303030;
}

body.dark-mode input, 
body.dark-mode .settings-select {
  background-color: #151515;
  color: #ffffff;
  border: 1px solid #151515;
}

body.dark-mode input:focus, body.dark-mode .settings-select:focus {
  border: 1px solid #94E5A0;
  outline:0;
}

body.dark-mode button:hover {
  background-color: #689f70;
}

body.dark-mode .settings-icon, body.dark-mode .telegram-icon {
  color: #94E5A0;
}

body.dark-mode .settings-icon:hover, body.dark-mode .telegram-icon:hover {
  color: #c8edce;
}

body.dark-mode .info-icon {
  color:#94E5A0;
}

body.dark-mode .info-icon:hover {
  color:#c8edce;
}

body.dark-mode .tooltiptext {
  background:#283043;
  color:#ffffff;
}

body.dark-mode h1 {
  color:#ffffff;
}

body.dark-mode .pagination-controls {
  background-color:#151515;
  border: 1px solid #151515;
}

body.dark-mode .list-item {
  background-color: #132415;
  color:#ffffff;
}

body.dark-mode .list-item:hover {
  background-color: #37523c;
}

body.dark-mode .flex-list .list-item:hover {
  background-color: #132415;
}

body.dark-mode .tablink.active,
body.dark-mode .tablink.active:hover {
  background-color: #303030;
  color: #ffffff;
}

body.dark-mode .nav-list-item {
  background-color: #2d4731;
  color:#c8edce;
}

body.dark-mode .nav-list-item:hover {
  background-color: #689f70;
}

body.dark-mode .nav-list-item.current-page {
  background-color:#303030;
  cursor:unset;
}

body.dark-mode .my-wallets,
body.dark-mode .tokens-content {
  background-color: #151515;
  color:#cacaca;
}

body.dark-mode .content-scanner {
  background:#151515;
}